<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Weather Page</h1>
    <p>This is a page with the current weather for the week.</p>
    <button>Click me</button>

    <!--
        make html that shows one days information using python
    -->

    <div id="weatherBox">
        <p class="day">{{user_data['week'][0]['day']}}</p>
        <p class="gust">{{user_data['week'][0]['winds']}}</p>
        <p class="temp">{{user_data['week'][0]['temperature']}}</p>
        <p class="humid">{{user_data['week'][0]['humidity']}}</p>
        <p class="count">{{user_data['week'][0]['pollen_count']}}</p>
        <img class="weatherImg" src="" alt="">
    </div>

    <!--
        make html that shows one days information using js
    -->

    <div id="weatherBox">
        <p class="day2"></p>
        <p class="gust2"></p>
        <p class="temp2"></p>
        <p class="humid2"></p>
        <p class="count2"></p>
        <img class="weatherImg2" src="" alt="">
    </div>

</body>
<script src="../static/js/index.js"></script>
</html>